---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../components/templates/BaseLayout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.id },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<BaseLayout title={article.data.pageTitle}>
  <article class="prose">
    <h1>{article.data.title}</h1>
    <Content />
    <footer>
      <p>Última atualização <time>{article.data.updated}</time></p>
    </footer>
  </article>
</BaseLayout>
