---
import { getCollection } from "astro:content";
import ProjectCard from "../atoms/ProjectCard.astro";

const articles = (await getCollection("articles")).sort(
  (a, b) => a.data.cardOrder - b.data.cardOrder
);
---

<div class="poster">
  {
    articles.map((article) => (
      <ProjectCard
        href={`/articles/${article.id}`}
        title={article.data.cardTitle}
      />
    ))
  }
</div>

<style>
  .poster {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
  }
</style>
